@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  },
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  @media(min-width: 420px){
    #div-options-input{
      @apply mr-20;  
    }
  }
  #div-options p{
    @apply mt-4;
  }
  .w-85{
    width: 21rem;
  }
  .itemList{
    @apply text-2xl;
    @apply flex; 
    @apply flex-wrap;
    border-bottom: 1px dashed rgb(4 3 3);
  }
  .itemList > div {
    @apply flex;
    @apply ml-2;
    @apply mr-2;
    @apply mt-2;
    @apply mb-2;
  }
  .itemList div p{
    @apply ml-2;
    @apply mr-2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
