.box-input  {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.box-input2  {
    margin-left: 30px;
    margin-right: 21rem;
    width: 52%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.card-container{
    padding: 0 30px 0 30px;
}

.mainCenter{
    max-width: 60rem;
    padding: 0 1rem;
    margin: 1rem auto 0;
}